image:
  tag: master
env:
  GF_EXPLORE_ENABLED: true
admin:
  existingSecret: grafanacred
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      url: http://prometheus-operator-prometheus:9090/
      access: proxy
      isDefault: true
    - name: Loki
      type: loki
      url: http://loki-stack:3100/
      access: proxy
      isDefault: false
      editable: true
dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
    - name: 'default'
      orgId: 1
      folder: ''
      type: file
      disableDeletion: false
      editable: true
      options:
        path: /var/lib/grafana/dashboards/default
dashboards:
  default:
    polkadot-metrics:
      gnetId: 11171
      revision: 1
      datasource: Prometheus
    kubernetes-pods:
      gnetId: 6336
      revision: 1
      datasource: Prometheus
    node-exporter:
      gnetId: 1860
      revision: 14
      datasource: Prometheus
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi
persistence:
  enabled: true
